* {
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

h2 {
    margin: 20px auto;
}

button {
    outline: none;
    border: none;
    padding: 5px;
    margin: 3px;
    font-size: 1.2rem;
}

.button-container {
    width: 400px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;

}

.operatorButton {
    background-color: rgb(255, 169, 90);
}


.cal-Container {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(31, 31, 31);
    box-shadow: 10px 10px 7px rgb(117, 117, 117);
}

#clear {
    background-color: rgb(216, 185, 255);
}

#equals {
    background-color: rgb(161, 255, 161);
}






.calcDisplay {
    display: block;
    background-color: rgb(61, 61, 61);
    text-align: right;

    margin: 10px auto;
    padding: 8px 20px;
    color: white;
    height: 50px;
    font-size: 2rem;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
}

button:hover {
    background-color: white;
    cursor: pointer;
}